.navbar{
    position: sticky;
    top: 0;
    width: 100wh;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #122b71;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    z-index: 50;
}
.navbar .logo label{
    font-size: 2.5rem;
}


.navbar .header{
 margin-top: 20px;
}
.link{
   text-decoration: none;
   margin: 25px;
   font-size: 1.3rem;
   color: black;
   text-transform: uppercase;
   color: white;
   
}

.link:hover{
    text-decoration: underline;
}
