.carousel{
 position: relative;
 overflow: hidden;
 right: 200px;
 
}





.machine-container{
  /* width: 700px; */
  margin-top: 20px;
  margin-left: 750px;
  height: 400px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* border: solid 2px #ccc; */
  border-radius: 30px;
  /* background: rgba(255, 255, 255, 0.53);
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.115),
              -2px -0px 15px 2px rgba(0, 0, 0, 0.054); */
}


.prev-btn,.next-btn{
  position:absolute;
  border: none;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background:whitesmoke;
  width: 50px;
  height: 50px;
  top: 200px;
}
.prev-btn{
  margin-left: 700px;
  left: 50px;
}
.next-btn{
  right: 0;
}

.prev-btn p,.next-btn p{
  font-size: 50px;
  /* background-color: whitesmoke; */
  border-radius: 10px;
  color: rgba(127, 122, 122, 0.298);

  cursor: pointer;
}



.chart{
  position: absolute;
  z-index: 100;
  left: 550px;
  bottom: -270px;
}

.filter{
  width: 300px;
  margin: 30px auto 0px auto;
  font-size: 15px;
}

.year-input{
  margin-left: 10px;
  position:static;
}

/* .d-none{
  visibility: hidden;
} */