*{
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#ffffff;
  background-position: center;
  font-family: 'Monteserrat',sans-serif;
  /* font-family: 'Courier New', Courier, monospace; */
}

html{
  font-size: 62.5%;
}